body
{
  text-align: center;
}

section
{
  margin-top: 50px;
}

.box
{
  position: relative;
  width: 300px;
  display: inline-block;
}

.bg_green
{
  background-color: green;
}

.bg_red
{
  background-color: red;
}

span
{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
}

i
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 40px;
}

.opacity:hover > i
{
  opacity: 1;
}
